<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Header content -->
<div class="homeHeader">
  <div class="homeHeader__search">
    <h1>Gearstocks</h1>
    <form class="container input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <button type="submit" class="input-group-text" (click)="search()">
          <i class="material-icons"> search </i>
        </button>
      </div>
      <input type="text" [(ngModel)]="keyword" name="keyword" class="form-control" placeholder='Que recherchez-vous ?'>
    </form>
  </div>
  <a (click)="scrollTo(target)" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
</div>

<!-- Video content -->
<div #target class="homeSlide">

  <div class="homeSlide__content">
    <p>GearStocks, la passion sans erreurs</p>
    <div class="wrapper">
      <div class="block-resp">
        <img width="130px" src="../../../../assets/img/courbe-logo.png" class="img-fluid" alt="Responsive image">
        <h4>Référentiel financier sur un grand nombre de pièces détachées.</h4>
      </div>
      <div class="block-resp">
        <img width="130px" src="../../../../assets/img/shop-logo.png" class="img-fluid" alt="Responsive image">
        <h4>Marketplace de pièces détachées d'ocasion entre particuliers.</h4>
      </div>
      <div class="block-resp">
        <img width="130px" src="../../../../assets/img/auto-moto-Logo.png" class="img-fluid" alt="Responsive image">
        <h4>Un grand nombre de pièces auto et moto de collections.</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <video controls poster="../../../../assets/img/Video.jpg">
      <source [src]="video" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>

  <div class="homeSlide__description">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
          <h1>Le concept</h1>
          <h6>Vous êtes collectionneur de voiture ? Vous voulez simplement retaper une vieille voiture ?<br> Très bien ! Mais comment faites-vous pour évaluer le prix de la pièce qu’il vous manque ?<br> Faites-vous confiance à votre garagiste ?<br> Demandez vous à un ami qui s’y connait un peu ou l’évaluez vous vous-même ?<br> Avec GearStocks, vous pouvez consulter le cours d’une pièce en spécifiant sa référence ou tout simplement en recherchant par marque ou par type de pièce.</h6>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
          <h1>Pourquoi les automobilistes choisissent Gearstocks</h1>
          <ul>
            <li>Un large choix de pièces auto d'occasion !</li>
            <li>Une recherche simple et rapide, accessible à tous</li>
            <li>Un réel gain de temps</li>
            <li>Un système unique de bourse de pièces auto</li>
            <li>Des annonces contrôlées par GearStocks</li>
          </ul>
        </div>

    </div>

  </div>

</div>

<!-- Social Media content -->
<div class="socialMedia">

  <h1>Retrouvez nous sur les reseaux sociaux</h1>

  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/GearStocks-1641424586156809/">
        <i class="fab fa-facebook-f icon"></i>    </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/francois-milhet-713b4513a/"><i class="fab fa-linkedin-in icon"></i></a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/filoou/"><i class="fab fa-instagram icon"></i></a>
    </li>

    <li>
      <a target="_blank" href="https://github.com/GearStocks"><i class="fab fa-github icon"></i></a></li>
  </ul>

</div>

<!-- Comment ca marche ? -->
<div class="how">

  <div class="how__content">
    <img src="assets/img/logo.png">
    <h1>Comment ca marche ?</h1>
    <h3>Vous cherchez une pièce auto/moto d’occasion ?</h3>
    <h2>Trouvez-là sur la première plateforme 100% auto/moto entre particuliers et professionnels !</h2>
    <h3>GEARSTOCKS est un site crée et conçu pour nous, passionées</h3>
  </div>

</div>

