.homeHeader {
  height: 80vh;
  width: 100%;
  background: url(../../../../assets/img/HomeHeader.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  margin: 0;
  padding: 0;

  &__search {
    position: absolute;
    top: 25vh;
    left: 15vw;
    right: 15vw;
    text-align: center;
    color: white;

    h1 {
      font-family: 'marcelle', sans-serif;
      font-size: 100px;
      margin-bottom: 30px;
    }

    button, input {
      color: white;
      background: rgba(0, 0, 0, 0.3);
      border-left: none;
    }

    button {
      cursor: pointer;
      border-right: none;
    }

    &__filters {
      text-align: left;
      padding: 0;
      margin-top: 10px;

      button {
        color: lightseagreen;
        border: solid 1px lightgrey;
        border-radius: 3px;
        outline: none;

        .mat-menu-item{ outline:none; }
      }

      &__price {
        padding: 10px;

        nouislider {
          margin: 10px 20px 10px 20px;
        }

        h1 {
          font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
        }

        &__range {
          display: inline-flex;
          align-items: baseline;
          font: 15px/32px Roboto, "Helvetica Neue", sans-serif;

          h2 {
            font: 15px/32px Roboto, "Helvetica Neue", sans-serif;
          }

          h3 {
            font: 15px/32px Roboto, "Helvetica Neue", sans-serif;
            margin-left: 10px;
          }

          p {
            color: darkorange;
          }
        }
      }
    }
  }
}

/* Scroll Down Arrow */
.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}
.ca3-scroll-down-link {
  cursor:pointer;
  height: 60px;
  width: 80px;
  margin: 0 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 18vh;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

/* GearStocks description slide */
.homeSlide {
  width: 100%;
  background: linear-gradient(120deg, #171616 50%, #22202B 50%);
  padding-top: 10vh;
  color: white;
  text-align: center;
  overflow: auto;

  video {
    max-width: 100%;
    height: auto;
  }

  &__content {
    p {
      font-size: 45px;
      font-family: 'marcelle', sans-serif;
    }

    .wrapper {
      width: 100%;
      padding-bottom: 4em;
      padding-top: 4em;
      display: grid;
      grid-gap: 2rem;

      .block-resp {
        margin: auto;
        max-width: 400px;

        h4 {
          margin-top: 10px;
          padding-left: 0.4em;
          padding-right: 0.4em;
          font-size: 20px;
        }
      }
    }
  }

  &__description {
    text-align: left;
    margin: 3em;

    h1 {
      font-family: 'marcelle', sans-serif;
      margin-bottom: 0.6em;
    }

  }
}

/* Social Media */
.socialMedia {
  width: 100%;
  background: url(../../../../assets/img/social-media-trackers.png) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */

  h1 {
    color: white;
    text-align: center;
    padding-top: 1em;
    font-family: 'marcelle', sans-serif;
    font-size: 50px;
  }

  ul {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center; /* center horizontal */
    align-items: center; /* center vertical */
  }

  ul li {
    list-style: none;
  }

  ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }

  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }

  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }

  ul li a:hover:before {
    top: 0;
  }

  ul li:nth-child(1) a:before{
    background: #3b5999;
  }

  ul li:nth-child(2) a:before{
    background: #0077b5;
  }

  ul li:nth-child(3) a:before {
    background: #dd4b39;
  }

  ul li:nth-child(4) a:before {
    background: black;
  }

}

.how {
  width: 100%;
  background: url(../../../../assets/img/gears.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */

  &__content {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-bottom: 25px;

    img {
      width: 200px;
    }

    h1 {
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 33px;
      font-family: 'marcelle', sans-serif;
    }

    h2 {
      font-size: 23px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'marcelle', sans-serif;
    }

    h3 {
      margin: 0;
      font-size: 15px;
    }
  }
}

@media (min-width: 600px) {
  .wrapper { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 600px) {
  .homeHeader__search {
    left: 0;
    right: 0;

    h1 {
      font-size: 70px;
    }
  }

  .homeSlide {
    &__content {
      p {
        font-size: 35px;
      }
      h4 {
        font-size: 20px;
      }
    }

    &__description {
      text-align: left;

      h1 {
        text-align: center;
        font-size: 35px;
        margin-top: 0.6em;
      }
    }
  }

  .socialMedia {
    h1 {
      font-size: 35px;
    }

    ul {
      padding-left: 0;
    }

    ul li a {
     width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 25px;
    }
  }

  .how__content {
    img {
      width: 150px;
    }
  }
}
