<mat-toolbar class="navbar">
  <div fxHide.gt-xs>
    <button mat-icon-button class="navbar__button" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="navbar__brand">
    <a routerLink="" [class.navbar__brand__align]="!isAuthenticated">
      <img src="../../../../assets/img/logo.png" alt="Gearstocks"/>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px">
      <li *ngIf="isAuthenticated">
        <a routerLink="/profile">Profile</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="logout()" id="logout">Se déconnecter</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a class="navbar__iconAbove" (click)="open()" id="login">
          <mat-icon>person</mat-icon>
          <p>Se connecter</p>
        </a>
      </li>
      <li>
        <a class="navbar__iconAbove" routerLink="/contact">Contact</a>
      </li>
      <li>
        <a class="navbar__iconAbove" href="gearstocks.apk" download>Télécharger l'application</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
