<mat-toolbar class="navbar">
  <div fxHide.gt-xs>
    <button mat-icon-button class="navbar__button" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="navbar__brand">
    <a routerLink="">
      <img src="../../../../assets/img/logo.png" alt="Gearstocks"/>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navbar__elem">
      <li>
        <a class="navbar__iconAbove" routerLink="/search-list" id="search">
          <mat-icon>search</mat-icon>
          <p>Rechercher</p>
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <mat-list-item [matMenuTriggerFor]="menu">
          <a class="navbar__iconAbove">
            <mat-icon>person</mat-icon>
            <p>{{currentUser.firstName}}</p>
          </a>
        </mat-list-item>
        <mat-menu #menu="matMenu">
          <button class="navbar__elem__button" mat-menu-item routerLink="/profile">Profile</button>
          <button class="navbar__elem__button" mat-menu-item (click)="logout()">Se déconnecter</button>
        </mat-menu>
      </li>
      <li *ngIf="!isAuthenticated">
        <a class="navbar__iconAbove" (click)="open()" id="login">
          <mat-icon>person</mat-icon>
          <p>Se connecter</p>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
