.navbar {
  background-color: black !important;
  position: fixed;
  top: 0;
  z-index: 100;
  a {
    padding-top: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  ul {
    margin-bottom: 0;
  }

  &__button {
    float: left;
    position: relative;
    z-index: 1;
    height: 64px;
    padding-left: 20px;
    padding-right: 10px;
  }

  &__brand {
    a {
      padding: 0;
    }

    img {
      width: 60px;
    }

    &__align {
      img {
        vertical-align: baseline;
      }
    }
  }

  &__navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__iconAbove {
    display: inline-block;
    mat-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      margin-top: -9px;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    &__brand {
      img {
        width: 60px;
        vertical-align: middle;
      }

      &__align {
        img {
          vertical-align: middle;
        }
      }
    }
  }
}

/* Material Overwrite */
.mat-icon-button {
  padding: 0;
  min-width: 0;
  height: 40px;
  width: 0;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}
