<div class="description">

  <div class="description__content">

    <div class="description__content__title">
      <h1>LE CONCEPT</h1>
      <h2>La garantie de trouver votre pièce auto / moto d’occasion en quelques clics</h2>
      <h3>Ne perdez plus votre temps sur internet, GearStocks, travaille à constituer la plus grande base de données d’annonces spécialisées dans la pièce d’occasion automobile et moto.</h3>
    </div>

    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="description__background-layer">
          <h1>LE CONCEPT</h1>
          <h2>Vous en avez marre de naviguer de sites en sites pour dénicher des pièces d’occasion de moto ? GearStocks vise à centraliser toutes les annonces des particuliers et professionnel de toute la France.</h2>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="description__background-layer">
          <h1>POURQUOI LES AUTOMOBILISTES CHOISISSENT GEARSTOCKS</h1>
          <ul>
            <li>Un large choix de pièces auto d'occasion !</li>
            <li>Une recherche simple et rapide, accessible à tous</li>
            <li>Un réel gain de temps</li>
            <li>Un système unique de bourse de pièces auto</li>
            <li>Des annonces contrôlées par GearStocks</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="description__content__title">
      <h2>À l’origine de GearStocks</h2>
      <h3></h3>

    </div>


  </div>

</div>
