<div class="description">

  <div class="description__content">

    <div class="description__content__title">
      <h1>LE CONCEPT</h1>
      <h2>La garantie de trouver votre pièce auto / moto d’occasion en quelques clics</h2>
      <h3>Ne perdez plus votre temps sur internet, GearStocks, travaille à constituer la plus grande base de données d’annonces spécialisées dans la pièce d’occasion automobile et moto.</h3>
    </div>

    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="description__background-layer">
          <h1>LE CONCEPT</h1>
          <h2>Vous en avez marre de naviguer de sites en sites pour dénicher des pièces d’occasion de moto ? GearStocks vise à centraliser toutes les annonces des particuliers et professionnel de toute la France.</h2>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="description__background-layer">
          <h1>POURQUOI LES AUTOMOBILISTES CHOISISSENT GEARSTOCKS</h1>
          <ul>
            <li>Un large choix de pièces auto d'occasion !</li>
            <li>Une recherche simple et rapide, accessible à tous</li>
            <li>Un réel gain de temps</li>
            <li>Un système unique de bourse de pièces auto</li>
            <li>Des annonces contrôlées par GearStocks</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="description__content__desc">
      <h2>À l’origine de GearStocks</h2>
      <h3>
        Lorsque nous étions encore dans une phase de réflexion pour trouver notre sujet d’EIP, nous avons rapidement remarqué que la plupart des idées amenées s’orientaient vers l’information.<br>
        Plus précisément vers l’accès à la connaissance qui peut s’avérer cryptique pour les non-initiés. Le sentiment de confusion en débutant un passe-temps ou une occupation nous était tous familières et il nous tenait à cœur de participer à éclairer les doutes des néophytes à notre manière.<br>
        Nous avons longuement considéré quel domaine pourrait bénéficier de plus de visibilité et de clarté. Nous nous sommes rendu compte que la plupart d’entre nous étions attirés par le domaine automobile et certains s’y était déjà intéresser de plus près.<br>
        Un des membres du groupe avait déjà un parent bien installé dans le domaine du commerce de pièces d’occasions de véhicules classiques qui nous a fait bénéficier de son expertise et de son point de vue d’initié.<br>
        Il nous a révélé que, bien que la côte de véhicule entier soit une donnée relativement rependue en fonction des modèles, celle des pièces détachées l’est beaucoup moins sans aucune familiarité ou relation dans ce milieu.<br>
        Nous avons également pris inspiration d’autres plateformes qui partage notre vision sur le partage et la mise en évidence de l’informations tel qu’il peut en exister dans le domaine de la mode afin de présenter les informations clé de la manière la plus compréhensible.
      </h3>

    </div>


  </div>

</div>
