<div class="footer">
  <section class="footer__col">
    <div class="footer__col-wrap">
      <h4 class="footer__col-title">Follow</h4>
      <a href="https://www.instagram.com/weareenvoy/" target="_blank" class="footer__link no-barba">Instagram</a>
      <a href="https://twitter.com/weareenvoy" target="_blank" class="footer__link no-barba">Twitter</a>
      <a href="https://www.linkedin.com/company/we-are-envoy" target="_blank" class="footer__link no-barba">LinkedIn</a>
    </div>
  </section>
  <section class="footer__col">
    <div class="footer__col-wrap">
      <h4 class="footer__col-title">Follow</h4>
      <a href="https://www.instagram.com/weareenvoy/" target="_blank" class="footer__link no-barba">Instagram</a>
      <a href="https://twitter.com/weareenvoy" target="_blank" class="footer__link no-barba">Twitter</a>
      <a href="https://www.linkedin.com/company/we-are-envoy" target="_blank" class="footer__link no-barba">LinkedIn</a>
    </div>
  </section>  <section class="footer__col"></section>
  <small class="footer-copyright">
    © Tous droits réservés, site créé pour GearStocks dans le cadre de l'EIP.
  </small>

</div>
