.footer {
  color: #9b9b9b;
  font-size: 12px;
  padding: 1em;
  background-color: black;
  &__col {
    float: left;
    line-height: 25px;
    margin-bottom: 1em;
    width: 50%;

    &-title {
      color: #fff;
      margin-bottom: 4px;
      margin-top: 35px;
    }
  }

  &__link {
    color: #9b9b9b;
    display: block;
    font-size: 12px;
    transition: color .75s ease;
  }
}

.footer-copyright {
  border-top: 1px solid #272727;
  color: #9b9b9b;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  width: 100%;
  height: 5em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer__col {
    width: 33.333%;
  }
}

