<div class="footer">

  <div class="row">

    <div class="col m3 s12">
      <h4 class="footer__title">Suivez-nous !</h4>
      <div>
        <a href="https://www.instagram.com/filoou/" target="_blank" class="footer__link no-barba">Instagram</a>
        <a href="https://www.facebook.com/GearStocks-1641424586156809" target="_blank" class="footer__link no-barba">Facebook</a>
      </div>
    </div>

    <div class="col m3 s12">
      <h4 class="footer__title">Informations légales</h4>
      <div>
        <a href="" target="_blank" class="footer__link no-barba">Conditions générales d’utilisation</a>
        <a href="" target="_blank" class="footer__link no-barba">Conditions Générales de Vente</a>
        <a href="" target="_blank" class="footer__link no-barba">Vie privée / cookies</a>
        <a href="" target="_blank" class="footer__link no-barba">Vos droits et obligations</a>
      </div>
    </div>

    <div class="col m3 s12">
      <h4 class="footer__title">Des questions ?</h4>
      <div>
        <a class="footer__link no-barba" routerLink="/description">Qui sommes nous ?</a>
        <a routerLink="/contact" class="footer__link no-barba">Contact</a>
      </div>
    </div>

  </div>

  <small class="footer-copyright">
    © {{year}} - Tous droits réservés, site créé pour GearStocks dans le cadre de l'EIP.
  </small>

</div>
