<div class="footer">
  <section class="footer__col">
    <div class="footer__col-wrap">
      <h4 class="footer__col-title">SUIVEZ-NOUS !</h4>
      <a href="https://www.instagram.com/filoou/" target="_blank" class="footer__link no-barba">Instagram</a>
      <a href="https://www.facebook.com/GearStocks-1641424586156809" target="_blank" class="footer__link no-barba">Facebook</a>
    </div>
  </section>
  <section class="footer__col">
    <div class="footer__col-wrap">
      <h4 class="footer__col-title">INFORMATIONS LÉGALES</h4>
      <a href="" target="_blank" class="footer__link no-barba">Conditions générales d’utilisation</a>
      <a href="" target="_blank" class="footer__link no-barba">Conditions Générales de Vente</a>
      <a href="" target="_blank" class="footer__link no-barba">Vie privée / cookies</a>
      <a href="" target="_blank" class="footer__link no-barba">Vos droits et obligations</a>
    </div>
  </section>
  <section class="footer__col">
    <div class="footer__col-wrap">
      <h4 class="footer__col-title">DES QUESTIONS ?</h4>
      <a href="" target="_blank" class="footer__link no-barba">Aide</a>
      <a routerLink="/contact" class="footer__link no-barba">Contact</a>
    </div>
  </section>
  <small class="footer-copyright">
    © {{year}} - Tous droits réservés, site créé pour GearStocks dans le cadre de l'EIP.
  </small>

</div>
