<section class="profile">
  <div class="profile__list">
    <div class="profile__list__content">
      <ul>
        <li (click)="activeClass(element)" *ngFor="let element of profileDatalist" [ngClass]="{'active-li': element.active}">{{element.name}}</li>
      </ul>
    </div>
  </div>
  <div class="profile__edit">
    <div id="general" class="profile__edit__content">
      <h2> Mes informations personnelles </h2>
      <div class="profile__edit__content__form">
        <form autocomplete="off" [formGroup]="profileDataGroup" (ngSubmit)="submitProfileData()">
          <app-gearstocks-input
            [group]="profileDataGroup"
            [name]="'lastName'"
            [placeholder]="'Nom'"
            [type]="'text'"
            [required]="true"
            [validationError]="profileDataGroup.get('lastName').errors"
            [validationErrorMessages]="errorMessages.lastName">
          </app-gearstocks-input>
          <app-gearstocks-input
            [group]="profileDataGroup"
            [name]="'firstName'"
            [placeholder]="'Prénom'"
            [type]="'text'"
            [required]="true"
            [validationError]="profileDataGroup.get('firstName').errors"
            [validationErrorMessages]="errorMessages.firstName">
          </app-gearstocks-input>
          <app-gearstocks-input
            [group]="profileDataGroup"
            [name]="'username'"
            [placeholder]="'Pseudo'"
            [type]="'text'"
            [required]="true"
            [validationError]="profileDataGroup.get('username').errors"
            [validationErrorMessages]="errorMessages.username">
          </app-gearstocks-input>
          <!--
          <app-gearstocks-input
            [group]="profileDataGroup"
            [name]="'address'"
            [placeholder]="'Adresse'"
            [type]="'text'"
            [required]="false"
            [validationError]="profileDataGroup.get('address').errors"
            [validationErrorMessages]="errorMessages.address">
          </app-gearstocks-input>
          <app-gearstocks-input
            [group]="profileDataGroup"
            [name]="'city'"
            [placeholder]="'Ville ou code postal'"
            [type]="'text'"
            [required]="false"
            [validationError]="profileDataGroup.get('city').errors"
            [validationErrorMessages]="errorMessages.city">
          </app-gearstocks-input>
          <app-gearstocks-input
            [group]="profileDataGroup"
            [name]="'phone'"
            [placeholder]="'Téléphone'"
            [type]="'text'"
            [required]="false"
            [validationError]="profileDataGroup.get('phone').errors"
            [validationErrorMessages]="errorMessages.phone">
          </app-gearstocks-input>
          -->
          <button class="btn btn-outline-primary" type="submit" [disabled]="!dirty || !profileDataGroup.valid">Valider les modifications</button>
        </form>
      </div>
    </div>
    <div id="email" class="profile__edit__content">
      <h2> Mon email </h2>
      <div class="profile__edit__content__form">
        <form autocomplete="off" [formGroup]="profileEmailGroup" (ngSubmit)="submitProfileEmail()">
          <app-gearstocks-input
            [group]="profileEmailGroup"
            [name]="'email'"
            [placeholder]="'Email'"
            [type]="'email'"
            [required]="true"
            [validationError]="profileEmailGroup.get('email').errors"
            [validationErrorMessages]="errorMessages.email">
          </app-gearstocks-input>
          <div *ngIf="editEmail" class="profile__edit__content__form__mail">
            <app-gearstocks-input
              [group]="profileEmailGroup"
              [name]="'emailConfirm'"
              [placeholder]="'Confirmation de l\'email'"
              [type]="'email'"
              [required]="true"
              [validationError]="profileEmailGroup.get('emailConfirm').errors"
              [validationErrorMessages]="errorMessages.emailConfirm">
            </app-gearstocks-input>
            <app-gearstocks-input
              [group]="profileEmailGroup"
              [name]="'password'"
              [placeholder]="'Mot de passe'"
              [type]="'password'"
              [required]="true"
              [validationError]="profileEmailGroup.get('password').errors"
              [validationErrorMessages]="errorMessages.password">
            </app-gearstocks-input>
            <button class="btn btn-outline-primary" type="submit">Modifier mon adresse email</button>
            <button class="btn btn-outline-danger" type="button" (click)="cancelEditMail()">Annuler</button>
          </div>
          <button class="btn btn-outline-primary" type="button" (click)="editMail()" *ngIf="!editEmail">Modifier mon adresse email</button>
        </form>
      </div>

    </div>
    <div id="password" class="profile__edit__content">
      <h2> Mon mot de passe </h2>
      <div class="profile__edit__content__form">
        <form autocomplete="off" [formGroup]="profilePasswordGroup" (ngSubmit)="submitProfilePassword()">
          <div *ngIf="editPass" class="profile__edit__content__form__mail">
            <app-gearstocks-input
              [group]="profilePasswordGroup"
              [name]="'oldPassword'"
              [placeholder]="'Mot de passe'"
              [type]="'password'"
              [required]="true"
              [validationError]="profilePasswordGroup.get('oldPassword').errors"
              [validationErrorMessages]="errorMessages.password">
            </app-gearstocks-input>
            <app-gearstocks-input
              [group]="profilePasswordGroup"
              [name]="'password'"
              [placeholder]="'Nouveau mot de passe'"
              [type]="'password'"
              [required]="true"
              [validationError]="profilePasswordGroup.get('password').errors"
              [validationErrorMessages]="errorMessages.password">
            </app-gearstocks-input>
            <app-gearstocks-input
              [group]="profilePasswordGroup"
              [name]="'confirmPassword'"
              [placeholder]="'Confirmation du mot de passe'"
              [type]="'password'"
              [required]="true"
              [validationError]="profilePasswordGroup.get('confirmPassword').errors"
              [validationErrorMessages]="errorMessages.password">
            </app-gearstocks-input>
            <button class="btn btn-outline-primary" type="submit">Modifier mon mot de passe</button>
            <button class="btn btn-outline-danger" type="button" (click)="cancelEditPassword()">Annuler</button>
          </div>
          <div *ngIf="!editPass">
            <app-gearstocks-input
              [group]="profilePasswordGroup"
              [name]="'showPassword'"
              [placeholder]="'Mot de passe'"
              [type]="'password'"
              [required]="true"
              [validationError]="profilePasswordGroup.get('showPassword').errors"
              [validationErrorMessages]="errorMessages.password">
            </app-gearstocks-input>
            <button class="btn btn-outline-primary" type="button" (click)="editPassword()">Modifier mon mot de passe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
