<div class="wrap">
  <div class="wrap__container">
    <div class="wrap__box1"></div>
    <div class="wrap__box2">
      <div *ngIf="!display">
        <h1 class="wrap__box2__title">Mot de passe oublié ?</h1>
        <form class="wrap__box2__form form" [formGroup]="lostPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form__row">
            <div class="input">
              <div class="input__container">
                <app-gearstocks-input
                  [group]="lostPasswordForm"
                  [name]="'email'"
                  [placeholder]="'Email'"
                  [type]="'email'"
                  [required]="true"
                  [validationError]="f.email.errors"
                  [validationErrorMessages]="errorMessages.email">
                </app-gearstocks-input>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="component component--primary form__button">
              <button [disabled]="loading" class="button btn btn-outline-primary" type="submit">Réinitialiser le mot de passe</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="display">
        <h1 class="wrap__box2__title">Mot de passe oublié</h1>
        <p class="wrap__box2__confirm">Un email vient de vous être envoyé, afin de réinitialiser votre mot de passe.</p>
      </div>
    </div>
  </div>
</div>
