.wrap {
  min-height: 100vh;

  &__container {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
  }

  &__box1 {
    display: none;
    background-image: linear-gradient(210deg, #FF2D00, #5A55AA);
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  &__box2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 14vh 24px 10vh;
    background-color: #fafafa;
    flex: 1;

    &__title {
      text-align: center;
      margin-bottom: 16px;
      color: #434176;
    }

    &__confirm {
      padding-top: 10px;
      text-align: center;
    }

    &__form {
      width: 100%;
    }

    &__sign {
      text-align: center;

      a {
        color: darkslateblue;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  &__row {
    margin-bottom: 40px;
  }

  &__row--two {
    margin: 0 -16px 0px;
  }

  &__inline-input {
    padding: 0 16px;
    margin-bottom: 40px;
  }

  &__button {
    text-align: center;
  }
}

.input {
  flex: 1;
  width: 100%;
  transition: width 0.18s ease;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
    width: 100%;
  }

  &__field {
    background: transparent;
    border: 0px solid #e5e5e6;
    border-bottom-width: 2px;
    padding: 6px 8px;
    font-size: 16px;
    transition: border 0.28s ease-out;
  }

  &__label {
    position: absolute;
    padding: 0 8px;
    top: 0;
    color: #3d3c48;
    cursor: text;
    font-size: 16px;
    transition-property: top, font-size;
    transition-timing-function: linear;
    transition-duration: 0.18s;
  }
}

.button {
  margin: 10px;
  padding: 10px 10%;
  cursor: pointer;
  color: limegreen;
  border-color: limegreen;

  &:hover {
    color: #fff;
    background: limegreen;
    border-color: limegreen;
  }
}

@media screen and (min-width: 500px) {
  .form__row--two {
    display: flex;
  }
}

@media screen and (min-width: 500px) {
  .form__inline-input {
    width: 50%;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 700px) {
  .wrap__box1 {
    display: block;
  }
}
