<div class="wrap">
  <div class="wrap__container">
    <div class="wrap__box1"></div>
    <div class="wrap__box2">
      <h1 class="wrap__box2__title">Activer votre compte</h1>
      <p><strong>Pour activer votre Compte, veuillez cliquer sur le lien figurant dans l’email de confirmation que nous venons de vous adresser.</strong></p>
      <p>Bon à savoir :</p>
      <p>Si vous ne recevez pas l’email de confirmation, 2 options :</p>
      <ul>
        <li>l’adresse email indiquée n’est pas valide.</li>
        <li>l’email a été bloqué par votre filtre anti-spam. Dans ce dernier cas, pas besoin de créer à nouveau votre Compte.<br>
          Il vous suffit de retrouver l’email dans votre boîte de réception anti-spam.</li>
      </ul>
    </div>
  </div>
</div>
