@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

@font-face {
  font-family: marcelle;
  src: url(assets/font/marcelle/Marcsc___.ttf) format("opentype");
}

html, body {
  font-family: 'Roboto Slab', serif;
  height: 100%;
  padding: 0 !important;
  margin: 0;
  line-height: 1.42857143 !important;
}

a {
  text-decoration-line: none !important;
  cursor: pointer;
}

app-gearstocks-alert {
  padding-top: 8vh;
  z-index: 10;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

/* Material Overwrite */
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

app-signup, app-signin, app-lost-password {
  .mat-form-field {
    width: 100%;
  }
}

app-profile {
  .mat-form-field {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    background-color: white;
    border: 1px solid #cad1d9;
    border-radius: 4px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label, input.mat-input-element, .mat-select-value {
    padding: 0 2px;
  }
}

app-gearstocks-textarea {

  .mat-form-field {
    display: block;
  }

  .mat-form-field, .mat-form-field-wrapper, .mat-form-field-infix, .mat-form-field-flex {
    height: 100%;
  }
  .mat-form-field-underline {
    display: none;
  }
}

app-search-list {
  .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    border: solid 1px lightgrey;
    border-radius: 3px;
    height: 100%;
    align-items: center;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    height: 100%;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    margin-left: 5px;
  }

  .mat-form-field-infix {
    border: none;
  }

  .mat-form-field-underline {
    display: none;
  }
}

app-home {
  .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    border: solid 1px lightgrey;
    height: 100%;
    align-items: center;
    border-radius: 3px 0 0 3px;
    background: rgba(0, 0, 0, 0.3);
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    height: 100%;
    padding: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    margin-left: 5px;
  }

  .mat-form-field-infix {
    border: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-select-arrow {
    color: white;
  }

  .mat-form-field-type-mat-select .mat-form-field-label {
    color: white;
  }

  .mat-select-value-text {
    color: white;
  }
}

@import "~nouislider/distribute/nouislider.min.css";
