<mat-nav-list>
  <a mat-list-item routerLink="" (click)="onSidenavClose()" id="home">
    <mat-icon>home</mat-icon> <span class="nav-caption">Accueil</span>
  </a>
  <a *ngIf="!isAuthenticated" mat-list-item (click)="login()" id="login">
    <mat-icon>person</mat-icon><span class="nav-caption">Se connecter</span>
  </a>
  <a *ngIf="isAuthenticated" mat-list-item routerLink="/profile" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Profile</span>
  </a>
  <a mat-list-item routerLink="/contact" (click)="onSidenavClose()" id="contact">
    <mat-icon>phone</mat-icon> <span class="nav-caption">Contact</span>
  </a>
  <a *ngIf="isAuthenticated" mat-list-item (click)="logout()" id="logout">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Se déconnecter</span>
  </a>
  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu>
</mat-nav-list>
