<!--<p>
  search-page works!
</p> -->

<div class="bg-white" style="padding-top: 10%; height: 100%">
<div id="index-gallery">
    <div class="item">
        <img class="navbar-brand pointer" routerLink="/gallery" src="assets/img/porscheCayenneLogo.png" title="Porsche Cayenne" width="360px">
      <p style="color:black; ">Porsche Cayenne</p>
    </div>
  
    <div class="item">
        <img class="navbar-brand pointer" routerLink="/gallery" src="assets/img/porscheCaymanLogo.png" title="Porsche Cayman" width="360px">
      <p style="color:black">Porsche Cayman</p>
    </div>
  
    <div class="item">
        <img class="navbar-brand pointer" routerLink="/gallery" src="assets/img/porscheBoxsterLogo.png" title="Porsche Boxster" width="360px">
      <p style="color:black">Porsche Boxster</p>
    </div>
  
    <div class="item">
        <img class="navbar-brand pointer" routerLink="/gallery" src="assets/img/porschePanameraLogo.png" title="Porsche Panamera" width="360px">
      <p style="color:black">Porsche Panamera</p>
    </div>
  </div>
</div>


<!-- <img _ngcontent-c1="" class="navbar-brand" routerlink="/" src="assets/img/porscheCayenneLogo.png" tabindex="0" ng-reflect-router-link="/" width="360px">
<img _ngcontent-c1="" class="navbar-brand" routerlink="/" src="assets/img/porscheCaymanLogo.png" tabindex="0" ng-reflect-router-link="/" width="360px">
<img _ngcontent-c1="" class="navbar-brand" routerlink="/" src="assets/img/porscheBoxsterLogo.png" tabindex="0" ng-reflect-router-link="/" width="360px"> -->


