<div class="back">
  <div class="container" #target>

    <div class="item__title">
      <button (click)="back()" mat-icon-button aria-label="Page précédente" class="item__back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1> {{itemData.name}} </h1>
    </div>

    <div class="row">
      <div class="col-md-4 item__desc">
        <img *ngIf="!itemData.photo" class="img-fluid" src="../../../../assets/img/NoImageAvailableIcon.png" alt="">
        <img *ngIf="itemData.photo" class="img-fluid" [src]="itemData.photo"
             onerror="this.src='../../../../assets/img/NoImageAvailableIcon.png';" alt="">
        <h5 style="color: darkorange; margin-top: 15px">Prix : {{ price(itemData.prices[itemData.prices.length -1].price) | currency : 'EUR' : 'symbol' : '1.0-0' }}</h5>
        <h3>Details du produit</h3>
        <p>{{ itemData.description }}</p>
      </div>
      <div class="col-md-8 item__desc">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>

    <div class="item__desc row" *ngIf="isAuthenticated" style=" display: flex; align-items: flex-end;">
      <h6 style="margin-right: 10px">Ajouter aux favoris</h6>
      <app-gearstocks-favourite-button
        (selectedChange)="selectChange($event)"
        [selected]="selected">
      </app-gearstocks-favourite-button>
    </div>

    <h3 class="my-4">Recommandations</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4" *ngFor="let item of itemData.referrals">
        <div (click)="navigate(item)" class="item">
          <img *ngIf="!item.photo" class="card-img-top" src="../../assets/img/NoImageAvailableIcon.png" alt="">
          <img *ngIf="item.photo" class="card-img-top" [src]="item.photo"
               onerror="this.src='../../assets/img/NoImageAvailableIcon.png';" alt="">
        </div>
        <h4 style="font-size: 1em; padding: 10px; background-color: rgba(0, 0, 0, 0.5);">{{item.name}}</h4>
      </div>
    </div>

  </div>
</div>
