@import url('https://fonts.googleapis.com/css?family=Roboto');

.search {
  background: linear-gradient(120deg, #171616 50%, #22202B 50%);
  min-height: 100vh;
  padding-top: 2em;
  padding-bottom: 2em;

  &__bar {
    padding-top: 5rem;
    padding-bottom: 1.2em;
    text-align: center;
    color: white;
    background-color: white;
    -webkit-box-shadow: 0 8px 8px -10px black;
    -moz-box-shadow: 0 8px 8px -10px black;
    box-shadow: 0 8px 8px -10px black;

    input {
      border-left: none;
      padding-left: 0;
    }

    button, input {
      margin-bottom: 1em;
      -moz-box-sizing: content-box; /* or `border-box` */
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }

    mat-form-field {
      button {
        margin: 0;
      }
    }

    &__button {
      border: none;
      background-color: #4183d7;
      color: white;
      cursor: pointer;
      margin: 0 auto;
      position: absolute;
      right: 0;
      left: 0;
    }
  }

  &__filters {
    text-align: left;

    button {
      color: lightseagreen;
      border: solid 1px lightgrey;
      border-radius: 3px;
      outline: none;

      .mat-menu-item{ outline:none; }
    }

    &__price {
      padding: 10px;

      nouislider {
        margin: 10px 20px 10px 20px;
      }

      h1 {
        font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
      }

      &__range {
        display: inline-flex;
        align-items: baseline;
        font: 15px/32px Roboto, "Helvetica Neue", sans-serif;

        h2 {
          font: 15px/32px Roboto, "Helvetica Neue", sans-serif;
        }

        h3 {
          font: 15px/32px Roboto, "Helvetica Neue", sans-serif;
          margin-left: 10px;
        }

        p {
          color: darkorange;
        }
      }
    }
  }

  &__list {
    padding-top: 3em;

    .card {
      cursor: pointer;

      &:hover {
        background: #4183d7;
        color: white;
      }
    }

    img {
      width: auto;
      max-height: 200px;
    }
  }

}

.delete-css-button {
  border-right: none;
  background-color: white;
}
