<section #target>

  <section class="search">

    <div (click)="scrollTo(target)" id="icone" [ngClass]="{'invisible': !this.onScroll}">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="cRetour" [ngClass]="{'cInvisible': !this.onScroll, 'cVisible': this.onScroll }"
           x="0px" y="0px" width="256" height="192" viewBox="0 0 1024 768" style="enable-background:new 0 0 1024 768;" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#EEE0C3;}
    .st1{fill:#961906;}
    .st2{fill:#E61915;}
    .st3{fill:#483E34;stroke:#FFFFFF;stroke-width:10;stroke-miterlimit:10;}
  </style>
        <path class="st0" d="M528.3,657c0,0-57.8-8.4-102.8-47.5s-50-303.6-50-303.6s-10.5-73.9,15.3-151.6c0.3-0.8,0.5-1.6,0.8-2.4  c0.3-0.9,0.6-1.7,0.9-2.6c26.4-74.9,117.5-115,128-119.4l0-0.4c0,0,3.4-1.1,7.3-1.3c2.5-0.1,5.2,0.1,7.4,1.3c0,0,101,40.3,129,119.8  c0.6,1.8,1.2,3.5,1.8,5.3c0.3,0.9,0.6,1.8,0.9,2.6c24.6,76.6,14.3,148.6,14.3,148.6s-5,264.5-50,303.6  C586.2,648.6,528.4,657,528.3,657"/>
        <path class="st1" d="M665,511.1c-91.5-16.1-182.8-17.5-274-4.1c-9,77.6,47.8,130.6,138.2,150.4C629.4,638.9,667.6,584.2,665,511.1z"/>
        <path class="st2" d="M665.4,512c2.1,0.5,50.7,34.1,84.3,102.3s4.9,96.4,4.9,96.4s-107.1-83.6-107.2-118.4  C647.3,561.7,663.4,511.6,665.4,512z"/>
        <path class="st2" d="M392,508c-2.1,0.5-50.7,34.1-84.3,102.3s-4.9,96.4-4.9,96.4s107.1-83.6,107.2-118.4  C410.2,557.7,394.1,507.6,392,508z"/>
        <path class="st2" d="M532,719.5h-5c-3,0-5.5-2.5-5.5-5.5V518c0-3,2.5-5.5,5.5-5.5h5c3,0,5.5,2.5,5.5,5.5v196  C537.5,717,535,719.5,532,719.5z"/>
        <circle class="st3" cx="529.5" cy="421.5" r="37.5"/>
        <circle class="st3" cx="530" cy="273" r="55"/>
        <path class="st1" d="M400.3,131.4c85.9,11.4,171.7,12.4,257.6,2.9C625.2,85.6,585.1,46.1,528,28C465.6,50,429.9,88.8,400.3,131.4z"/>

  </svg>
    </div>

    <div class="search__bar">
      <div class="container input-group mb-3 input-group-lg">
        <div class="input-group-prepend">
          <button type="submit" class="input-group-text delete-css-button" (click)="search()">
            <i class="material-icons"> search </i>
          </button>
        </div>
        <input type="text" [(ngModel)]="keyword" name="keyword" class="form-control" placeholder='Que recherchez-vous ?'>
      </div>
      <button type="submit" class="input-group-text search__bar__button" (click)="search()">Rechercher ({{this.getUnits()}} résultats)</button>
    </div>

    <div class="container search__list">

      <div class="row">

        <div  *ngFor="let item of data.parts" class="col-lg-4 col-md-6 mb-4">
          <div (click)="navigate(item)" class="card h-100">
            <img *ngIf="!item.photo" class="card-img-top" src="../../assets/img/NoImageAvailableIcon.png" alt="">
            <img *ngIf="item.photo" class="card-img-top" [src]="item.photo" alt="">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <p class="card-text">Prix : {{item.price}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

</section>
