<section #target>

  <section class="search">

    <app-gearstocks-back-to-top [element]="target"></app-gearstocks-back-to-top>

    <div class="search__bar">
      <div class="container input-group input-group-lg">
        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select [(ngModel)]="selectedCategorie" name="category">
            <mat-option *ngFor="let categorie of categories" [value]="categorie.name">
              {{categorie.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="input-group-prepend">
          <button type="submit" class="input-group-text delete-css-button" (click)="search()">
            <i class="material-icons"> search </i>
          </button>
        </div>
        <input type="text" [(ngModel)]="keyword" (keyup.enter)="search()" name="keyword" class="form-control" placeholder='Que recherchez-vous ?'>
      </div>

      <div class="container search__filters">
        <button mat-button [matMenuTriggerFor]="menu">Prix</button>
        <mat-menu #menu="matMenu">
          <div class="search__filters__price">
            <h1>Prix</h1>
            <p>min. {{value}}  max. {{highValue}}</p>
            <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>

          </div>
        </mat-menu>
      </div>
      <button type="submit" class="input-group-text search__bar__button" (click)="search()">Rechercher ({{this.getUnits()}} résultats)</button>
    </div>

    <div class="container search__list">

      <div class="row" *ngIf="data">

        <div  *ngFor="let item of data.parts" class="col-lg-4 col-md-6 mb-4">
          <div (click)="navigate(item)" class="card h-100">
            <img *ngIf="!item.photo" class="card-img-top" src="../../assets/img/NoImageAvailableIcon.png" alt="">
            <img *ngIf="item.photo" class="card-img-top" [src]="item.photo" alt="">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <p class="card-text">Prix : {{item.price}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

</section>
