@import url('https://fonts.googleapis.com/css?family=Roboto');

#icone {
  height: 50px;
  width: 50px;
  z-index: 1000;
  position: fixed;
  bottom: 31px;
  right: 25px;
  background-color: white;
  border-radius: 25%;
  cursor: pointer;

  /* SVG ROCKET CSS*/
  #cRetour {
    height: 50px;
    width: 50px;
    position: fixed;
    transition: all 0.5s;

    &.cInvisible {
      bottom: -35px;
      opacity: 0;
      transition: all ease-in 0.5s;
    }

    &.cVisible {
      bottom: 30px !important;
      opacity: 1 !important;
    }
  }
}

.search {
  background-color: powderblue;
  min-height: 100vh;
  padding-top: 2em;
  padding-bottom: 2em;

  &__bar {
    padding-top: 5rem;
    padding-bottom: 1.2em;
    text-align: center;
    color: white;
    background-color: white;
    -webkit-box-shadow: 0 8px 8px -10px black;
    -moz-box-shadow: 0 8px 8px -10px black;
    box-shadow: 0 8px 8px -10px black;

    input {
      border-left: none;
      padding-left: 0;
    }

    button, input {
      margin-bottom: 1em;
    }

    &__button {
      background-color: #4183d7;
      color: white;
      cursor: pointer;
      margin: 0 auto;
      position: absolute;
      right: 0;
      left: 0;
    }
  }

  &__list {
    padding-top: 3em;

    .card {
      cursor: pointer;

      &:hover {
        background: #4183d7;
        color: white;
      }
    }

    img {
      width: auto;
      max-height: 200px;
    }
  }

}

.delete-css-button {
  border-right: none;
  background-color: white;
}
