.page-wrap {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  &__title {
    position: absolute;
    top: 45%;
    left: 15%;
    right: 15%;
    text-align: center;
    color: #FFFFFF;

    h1 {
      font-size: 3em;
    }
  }

}
